@media (max-width: 1200px) {
  //min 993px
  .container {
    max-width: 950px;
  }
}

@media (max-width: 992px) {
  //min 768px
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  //min 578px
  .container {
    width: none;
  }
}

@media (max-width: 577px) and (min-width: 320px) {
  .container {
    width: none;
  }
}
